PUBLIC_API_URL=https://example.com
PUBLIC_API_VERSION=v1
PUBLIC_API_WS_URL=wss://example.com
PUBLIC_MEDIA_URL=https://media.example.com
PUBLIC_MEDIA_CDN_URL=https://cdn.example.com
KASTEL_DESKTOP_APP=false
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
SENTRY_DSN=
