::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.dark-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

.light-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #afafaf;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

/* when the user tries to send a message, and they are at the max char limit, shake the box so they understand they can't */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.typingDot {
  float: left;
  width: 6px;
  height: 6px;
  margin-left: 4px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typingDot:nth-child(1) {
  animation-delay: 0s;
}

.typingDot:nth-child(2) {
  animation-delay: 0.2s;
}

.typingDot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.twemoji-sm {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}

.twemoji-bg {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.twemojibl {
  cursor: pointer;
}
