/*place global styles here */
html,
body {
	@apply h-full;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#sidebar-left::-webkit-scrollbar {
		display: none;
	} {
	@apply h-full;
	
	scrollbar-width: none;
	-ms-overflow-style: none;
}